.custom-about-apart
  .custom-about-apart__title-container(v-waypoint='{ active: true, callback: onWaypoint, options: optionsText }')
    h1.custom-about-apart__title(v-html='content.title')
  .custom-about-apart__container(v-waypoint='{ active: true, callback: onScroll, options: options }')
    .custom-about-apart__col
      .custom-about-apart__tile.custom-about-apart__tile--one(
        v-for='(tile, i) in content.column_one',
        :key='"tile-" + i',
        :class="{ 'custom-about-apart__tile--one--active': active }")
        h5.custom-about-apart__tile-title(v-html='tile.title')
        .custom-about-apart__tile-body(v-html='tile.body')
    .custom-about-apart__col
      .custom-about-apart__tile.custom-about-apart__tile--two(
        v-for='(tile2, j) in content.column_two',
        :key='"tile2-" + j',
        :class="{ 'custom-about-apart__tile--two--active': active }")
        h5.custom-about-apart__tile-title(v-html='tile2.title')
        .custom-about-apart__tile-body(v-html='tile2.body')
