.pages-about(v-if='props')
  CustomAboutDoctor(:content='props.doctor')
  CustomAboutTeam(:content='props.team', :tiles="'four'")
  CustomAboutApart(:content='props.apart')
  CustomAboutOffice(:content='props.office')
