.custom-3d-tour-iframe
  position: relative
  display: flex;
  flex-direction: column
  justify-contents: center
  align-items: center
  width: 100%
  height: 730px
  background: #D7D7D7
  padding: 4rem 0

  &__header
    color: #0170BA
    text-transform: uppercase
    padding: 0 1rem 2rem
  
  &__3d-tour
    @media screen and (max-width: 1000px)
      width: 90%
    width: 67%
    height: 90%