.block-image-text(:id='props.id', :class="{ 'block-image-text--light': lightColor, 'block-image-text--reverse': textRight }")
  BaseLazyBg.block-image-text__background(:src='props.image')
  .block-image-text__container(v-waypoint='{ active: true, callback: onScroll, options: options }')
    .block-image-text__content
      h1.block-image-text__title(v-html='props.title', :class="{ 'block-image-text__title--active': active }")
      .block-image-text__text(v-html='props.text')
          
