.block-hero-photo
  position: relative
  height: 100vh
  width: 100%

  // compensation for desktop-sized navbar
  @media screen and (min-width: 1431px)
    padding-top: 152px

  // compensation for mobile-sized navbar
  @media screen and (max-width: 1430px)
    padding-top: 80px

  &__overlay
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(83, 83, 83, 0.25)

  &__title
    position: absolute
    @extend h1
    color: $white
    bottom: 45px
    left: 50%
    transform: translate(-50%)
    text-shadow: 3px 6px 10px rgba(0, 0, 0, 0.75)
    text-transform: uppercase
    font-weight: bold
    text-align: center
