.pages-home(v-if='props')
  HeroHome(:props='props.hero_home')
  CustomHomeWelcome(:props='props.home_welcome')
  CustomHomeWhy(:props='props.home_why')
  CustomHomeTestimonials(:props='props.home_testimonials')
  BlockGradImage(:props='props.gradient_image')
  CustomHomeBanner(:props='props.home_banner')
  CustomHomePatients(:props='props.home_patients')
  CustomHomeLifetime(:props='props.home_lifetime')
  
