.pages-invisalign(v-if='props')
  HeroInvisalign(:props='props.hero_invisalign')  
  BlockImageText(:props='props.invisalign' light-color)
  BlockImageText(:props='props.invisalign_teen' text-right)
  BlockImageText(:props='props.itero')
  CustomAccelerated(:props='props.accelerated')    
