.hero-home(v-if='props')
  .hero-home__background(:style="{ backgroundImage: 'url(' + props.image + ')' }")
  .hero-home__container
    .hero-home__column
      .hero-home__subtitle.hero-text--home(v-html='props.subtitle')
      a.hero-home__button.openchair-widget(v-html='props.button')
      .hero-home__subtitle.hero-text--home(v-if='props.subtitle_2', v-html='props.subtitle_2')
      a.hero-home__button(v-if='props.subtitle_2', v-html='props.button_2', :href='props.button_2_link', target='_blank')
      .hero-home__title.hero-text--home(v-html='props.title')
      .hero-home__card(:class="{ 'hero-home__card--animate': !$store.state.loaded }")
        h5.hero-home__title-card(v-html='props.card.title')
        .hero-home__body(v-html='props.card.body')
        .hero-home__details(v-html='props.card.details')
        router-link.hero-home__button-card(v-html='props.card.button', :to='props.card.button_link')
  .hero-home__card-container
    .hero-home__card.hero-home__card--mobile(:class="{ 'hero-home__card--animate': !$store.state.loaded }")
      h5.hero-home__title-card(v-html='props.card.title')
      .hero-home__button-container
        BaseIcon.hero-home__icon(name='chevron_02')
        .hero-home__button-details(
          @click='toggleDetails',
          v-html="details ? 'Hide Details' : 'Show Details'",
          :class="{ 'hero-home__button-details--hide': details }")
      .hero-home__content(:class="{ 'hero-home__content--active': details }")
        .hero-home__body(v-html='props.card.body')
        .hero-home__details(v-html='props.card.details')
      router-link.hero-home__button-card(v-html='props.card.button', :to='props.card.button_link')

