.custom-patients-finance
  BaseLazyBg.custom-patients-finance__background(:src='props.background_img')
  .custom-patients-finance__container(v-waypoint='{ active: true, callback: onScroll, options: options }')
    .custom-patients-finance__col-small
    .custom-patients-finance__col-lg
      h1.custom-patients-finance__title(v-html="props.title", :class="{ 'custom-patients-finance__title--active': active }")
      .custom-patients-finance__columns
        .custom-patients-finance__row(v-for="section in props.sections")
          BaseIcon.custom-patients-finance__icon(:name="section.icon")
          .custom-patients-finance__section-container
            h4.custom-patients-finance__section-title(v-html="section.section_title")
            .custom-patients-finance__section-content(v-html="section.content")
