.custom-home-patients
  .custom-home-patients__patient(v-for='(patient, i) in props.patients',
    :key='"patient-" + i')
    .custom-home-patients__container
      h1.custom-home-patients__title(v-html='patient.title')
    BaseLazyImg.custom-home-patients__image(:src='patient.image')
