.block-grad-image(:id='props.id')
  .block-grad-image__overlay--mobile(:style="{ backgroundImage: 'linear-gradient(to right, ' + props.background_color + ' , ' + props.background_color + ')' }")
  .block-grad-image__overlay(:style="{ backgroundImage: 'linear-gradient(to right, ' + props.background_color + ' 85%, transparent)' }")
  .block-grad-image__container(v-waypoint='{ active: true, callback: onScroll, options: options }')
    .block-grad-image__column--left
      h1.block-grad-image__title(v-html='props.title', :class="{ 'block-grad-image__title--active': active }")
      h4.block-grad-image__subtitle(v-html='props.subtitle')
      .block-grad-image__body(v-html='props.body')
      router-link.block-grad-image__button(:to='props.button_link')
        BaseIcon.block-grad-image__icon(name='chevron_02')
        .block-grad-image__button-title(v-html='props.button')
  BaseLazyBg.block-grad-image__image(:src='props.image', :class="{ 'block-grad-image__image--active': active }")
  //- BaseLazyBg.block-grad-image__image(src='https://bigsmileorthodontics.s3-us-west-1.amazonaws.com/home/HEADSHOT_1.jpg', :class="{ 'block-grad-image__image--active': active }")
