.base-loader(v-if='!loaded', :class="{ 'base-loader--animate': animate }")
  .base-loader__container
    BaseIcon.base-loader__icon(name='favicon--loader', :class="{ 'base-loader__icon--animate': animate }")
