.navigation-desktop
  display: flex
  position: fixed
  z-index: 100
  box-shadow: 5px 5px 10px 0 rgba($black, 0.1)
  background-color: $white
  padding: 1rem 0
  width: 100%
  height: 9.5rem

  &__covid-banner
    width: 100%
    background-color: $danger
    position: absolute
    top: 0
    text-align: center

  &__banner-text
    color: white

    &:hover
      font-weight: 600


  &__container
    @extend .container--large
    align-items: center
    justify-content: space-between
    margin-top: 10px

  &__logo
    width: 20rem
    height: calc(20rem * .25)

  &__nav
    position: relative

    &:hover
      .navigation-desktop__subnav
        opacity: 1

  &__link
    position: relative
    padding: 0 1rem

    &:after
      display: block
      position: absolute
      bottom: -5px
      left: 50%
      transform: translateX(-50%)
      transition: width .5s ease
      border: 2px solid $c1
      border-width: 0 0 2px
      width: 0
      content: ''

    &--active,
    &:hover

      &:after
        width: calc(100% - 2rem)

  &__subnav
    position: absolute
    bottom: -5.5rem
    left: 1rem
    transition: opacity .2s ease-in
    opacity: 0
    box-shadow: 3px 3px 10px 0 rgba($black, 0.3)
    background-color: $white
    padding: 1rem
    li
      list-style: none
      width: 7rem
    &:last-child
      bottom: -9rem;

  &__link-child
    transition: color .25s ease-in
    white-space: nowrap
    color: $c1
    font-weight: 600

    &:hover
      color: $c3

  &__content
    display: flex
    flex-direction: column
    align-items: center

    @media screen and (max-width: 1534px)
      flex-direction: row-reverse
      width: 100%

      & > *
        margin-left: 1rem

  &__subtitle
    margin: .5rem 0

  &__phone
    display: flex
    align-items: center
    transition: all .3s ease-in
    color: $c2
    margin-bottom: .5em

    &:hover
      .navigation-desktop__phone-text
        font-weight: 600

  &__phone-icon
    display: inline-block
    margin-right: .5rem
    width: 1.2rem
    height: calc(1.2rem * 1.2)
    fill: $c3

  &__buttons
    display: flex

  &__button

    &--one
      @include button-basic--clear-slide($c2, $white, $c2)
      margin-right: .25rem

    &--two
      @include button-basic--fill-slide($white, $c3, $c3, transparent, $c3)
      margin-left: .25rem

  &__modal-container
    position: fixed
    top: 0
    left: 0
    transition: opacity .25s ease-in
    opacity: 0
    width: 100vw
    height: 100vh
    pointer-events: none

    &--active
      opacity: 1
      z-index: 99999
      pointer-events: all

  &__overlay
    position: absolute
    top: 0
    left: 0
    background: rgba($black, 0.9)
    width: 100%
    height: 100%

  &__modal
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 2
    background-color: $white
    padding: 2rem 5rem
    width: 40vw

  &__close
    position: absolute
    top: 1rem
    right: 2rem
    cursor: pointer
    font-weight: 600
