.navigation-desktop(v-if="contact")
  .navigation-desktop__covid-banner
    router-link.navigation-desktop__banner-text(to='/covid-19') COVID-19 Update
  .navigation-desktop__container
    router-link.navigation-desktop__logo-container(to='/')
      BaseIcon.navigation-desktop__logo(name='logo--full')
    .navigation-desktop__links
      span.navigation-desktop__nav(v-for='link in links')
        router-link.navigation-desktop__link.navigation-text--menu(:to='link.path', v-html='link.name', :class="{ 'navigation-desktop__link--active': $route.name === link.name }")
        ul.navigation-desktop__subnav(v-for='child in link.children')
          li
            router-link.navigation-desktop__link-child(:to='child.path', v-html='child.name')
    .navigation-desktop__content
      a.navigation-desktop__phone.navigation-text--buttons(:href='contact.phone_link')
        BaseIcon.navigation-desktop__phone-icon(name='phone')
        .navigation-desktop__phone-text(v-html='contact.phone')
      .navigation-desktop__buttons
        .navigation-desktop__button--one(v-html='contact.navigation.button_one' @click='toggleForm()')
        //- router-link.navigation-desktop__button--two(v-html='contact.navigation.button_two', :to='contact.navigation.button_two_link')
        a.navigation-desktop__button--two.openchair-widget(v-html='contact.navigation.button_two')
      .navigation-desktop__subtitle.navigation-text--menu(v-html='contact.navigation.subtitle')
  .navigation-desktop__modal-container(:class="{ 'navigation-desktop__modal-container--active': form }")
    .navigation-desktop__overlay
    .navigation-desktop__modal
      .navigation-desktop__close(@click='toggleForm()') Close
      FormDentist
