.block-hero-card
  .block-hero-card__card-container(:class="{ 'block-hero-card__card-container--treatments': $route.name.includes('Treatments') }")
    .block-hero-card__card(v-for='(card, i) in props.cards',
      :key='"card-" + i', :class="{ 'block-hero-card__card--active': !$store.state.loaded }")
      h5.block-hero-card__card-title(v-html='card.title')
      .block-hero-card__body(v-html='card.body')
      .block-hero-card__button-container
        router-link.block-hero-card__button(v-html='card.button', :to='card.button_link')
