.pages-treatments(v-if='props')
  HeroPhoto(:props="props.hero")
  BlockHeroCard(:props='props.hero_card')
  CustomTreatmentsTypes(:props='props.treatments_types')
  CustomTreatmentsDamon(:props='props.treatments_damon')
  CustomTreatmentsTreatment(:props='props.treatments_treatment')
  CustomTreatmentsBraces(:props='props.treatments_braces')
  CustomTreatmentsPalatal(:props='props.treatments_ortho')
  CustomTreatmentsOrtho(:props='props.treatments_ortho')
