#office.custom-about-office(v-waypoint='{ active: true, callback: onScroll, options: options }')
  h1.custom-about-office__title(v-html='content.title', :class="{ 'custom-about-office__title--active': active }")
  .custom-about-office__container
    .custom-about-office__collage
      .custom-about-office__img(v-for="(image, index) in content.slider", :style="{'background': 'url(' + image.image + ') no-repeat center / cover'}", :id="'img-' + index%4")
    
    //- .custom-about-office__col
    //-   .custom-about-office__slider
    //-     .custom-about-office__prev(@click='slidePrev')
    //-       BaseIcon.custom-about-office__icon.custom-about-office__icon--flip(name='chevron')
    //-     .custom-about-office__next(@click='slideNext')
    //-       BaseIcon.custom-about-office__icon(name='chevron')
    //-     BaseLazyImg.custom-about-office__slide(
    //-       v-for='(slide, i) in content.slider',
    //-       :key="'slide - ' + i",e
    //-       :class="{ 'custom-about-office__slide--active': i === activeSlide }",
    //-       :imageBackground='true',
    //-       :src='slide.image')
